.photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

div {
  width: 180px;
  margin-left: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
  display: inline-block;
 
}

p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name {
  margin-top: 7px;
  font-weight: bold;
  font-size: 19px;
  padding-left: 6px;
}

.friends-number {
  margin-top: 3px;
  color:rgba(0, 0, 0, 0.555) ;
  font-size: 16px;
  padding-left: 6px;
}

.add-button {
  margin-top: 7px;
  background-color: rgba(14, 88, 226, 0.856);
  color: white;
  border: none;
  border-radius: 5px;
  width: 115px;
  font-size: 16px;
  padding-bottom: 7px;
  padding-top: 7px;
  cursor: pointer;
  margin-left: 6px;
  margin-bottom: 6px;
}
