p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.delivery{
  text-decoration: underline;
}